/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/***********************************************/

#header-bar{
    display: flex;
    justify-content: space-between
}


#account-btn{
    width: 10%;
    float: left;
}

/* #home-btn{
    width: 10%;
    float: right;
} */

#next-btn{
    width: 30%;
}

#nav-space{
    height: 100px;
}

#itineraries-panel {
    display: flex;
    flex-wrap: wrap;
}

#itinerary-card{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 20px;
}

#itinerary-card .user-avatar{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#itinerary-card .details{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
} 

#itinerary-card .stats{
    display: flex;
    justify-content: space-between; 
}

#itinerary-card img{
    width: 100%;
    border-radius: 50%;
}

#itinerary-card .expand{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    text-align: center;
    color: darkblue;
    font-size: 0.9em;
}


#homepage{
    padding: 10px;
}

.text-align-centered{
    text-align: center;
}

#next-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-container{
    position: relative;
    width: 45%;
    padding-right: 4%;
}

.slider-textblock{
    position: absolute;
    bottom: 20px;
    left: 25%;
}

.full-width{
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  /*** footer ****/
#home-btn{
    width: 64px;
    display: block;
    margin: auto;

}

   /*** end footer ****/


