#account-btn{
    width: 10%;
    float: left;
}

#home-btn{
    width: 10%;
    float: right;
}

#next-btn{
    width: 30%;
}

#nav-space{
    height: 100px;
}

#itineraries-panel {
    display: flex;
    flex-wrap: wrap;
}

#itinerary-card{
    width: 40%;
    margin-bottom: 10%;
    margin-right: 5%;
    padding: 2%;
    background-color: lightblue;
}

#homepage{
    padding: 10px;
}

.text-align-centered{
    text-align: center;
}

#next-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-container{
    position: relative;
}

.slider-textblock{
    position: absolute;
    bottom: 20px;
    left: 25%;
}

.full-width{
    width: 50%;
}